/* Pagination styling */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

.pagination-button {
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 5px;
    color: var(--col2);
    transition: all 0.5s ease;
}

/* Disabled button styling */
.pagination-button:disabled svg.size-6 {
    stroke: lightgray; /* For disabled state */
    cursor: not-allowed; /* Optional: changes cursor for disabled buttons */
}



/* Hover styling */
.pagination-button:hover svg.size-6 {
    background-color: var(--col1);
    color: white;
    cursor: pointer;
}